*{box-sizing: border-box; }
body{
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin:0;
}
.backgroundColors{
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height: 100vh;
    z-index: 1;
    position:absolute;
   
}
#quizBox{
    max-width: 500px;
    width: 60%;
    background-color: rgba(255, 255, 255, .7);
    padding: 40px 60px;
    z-index: 5;
    position: fixed;
    margin: 50px auto;
    left: 50%;
    transform: translate(-50%, 0);
}

h1{
    margin:10px;
    font-size: 36px;
}
button{font-size:20px;cursor: pointer;background-color: forestgreen; color:white;}
button:hover{background-color: darkgreen;}
.questionWrap button{
    padding: 10px 16px;
    border: none;
}
.questionWrap p{
    font-size: 22px;
}
p.question{
    margin-top:10px;
}

form{
    text-align: left;
}
form label{
    padding: 10px 12px;
    display: block;
    outline: none;
    border: 1px solid #777;
    margin: 10px 0;
    background-color: #fff;
    cursor: pointer;
    font-size:18px;
}
form input{
    vertical-align: top;
    
}
form label:hover{
   background-color: #eee;
}
p.questionTracker, p.scoreTracker{
    float: right;
    font-size: 14px;
    
}
p.questionTracker{float:left;}
#submit{
    display: block;
    padding: 10px 30px;
    border: none;
    width: 100%;
    
}

header p, p.questionTracker, p.scoreTracker{display:none;}
p.feedback{
    font-size: 16px;
}
.nxtbtn{
    display: block;
    padding: 10px 30px;
    border: none;
    width: 100%;
    
}

.correct{
    border:2px solid green;
}
.wrong{
    border:2px solid red;
}

footer p:first-of-type{
    color: green;
    display: block;
}
#wrongA footer p:first-of-type{
    color: red;
}
@media screen and (max-width: 800px){
    #quizBox{width: 80%;
    padding: 40px 40px;
    margin: 30px auto;}
}
@media screen and (max-width: 450px){
    #quizBox{width: 90%;
    padding: 30px 20px;
    margin: 20px auto;}
}